@import url('./App.css');

body{
  margin:0;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background:transparent; /* App.css provides the main gradient */
  color:var(--white);
}

code{font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace}

a{color:inherit}
